<div xmlns:th="http://www.thymeleaf.org">
    <div id="employeeInfo" th:include="/common/aside-info"></div>
    <div class="aside-title">
        <hr>
        <span class="text-center text-lg">회계관리</span>
        <hr>
    </div>
	<ul id="menus">
	    <li class="menu">
	        <a href="/salary/list" class="menu-name">
	            <span class="material-symbols-outlined">paid</span>
	            급여 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/salary/list">급여 조회/등록</a></li>
	        </ul>
	    </li>
	    <li class="menu">
	        <a href="/severancePay/list" class="menu-name">
	            <span class="material-symbols-outlined">redeem</span>
	            퇴직금 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/severancePay/list">퇴직금 조회/등록</a></li>
	        </ul>
	    </li>
    </ul>
</div>
