<div xmlns:th="http://www.thymeleaf.org">
    <div id="employeeInfo" th:include="/common/aside-info"></div>
    <div class="aside-title">
        <hr>
        <span class="text-center text-lg">영업관리</span>
        <hr>
    </div>
    <ul id="menus">
        <li class="menu">
            <a href="/client/list" class="menu-name">
                <span class="material-symbols-outlined">storefront</span>
                거래처 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/client/list">거래처 조회</a></li>
                <li class="sub-menu"><a href="/client/regist">거래처 신규 등록</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/po/list" class="menu-name">
                <span class="material-symbols-outlined">shopping_bag</span>
                발주 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/po/list">발주 조회</a></li>
                <li class="sub-menu"><a href="/po/regist">발주 요청</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/estimate/list" class="menu-name">
                <span class="material-symbols-outlined">content_paste_search</span>
                견적서 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/estimate/list">견적서 조회</a></li>
                <li class="sub-menu"><a href="/estimate/regist">견적서 작성</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/order/list" class="menu-name">
                <span class="material-symbols-outlined">shopping_cart</span>
                주문 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/order/list">주문 관리</a></li>
                <li class="sub-menu"><a href="/order/registNopop">주문 등록</a></li>
            </ul>
        </li>
    </ul>
</div>