<div xmlns:th="http://www.thymeleaf.org">
    <div id="employeeInfo" th:include="/common/aside-info"></div>
    <div class="aside-title">
        <hr>
        <span class="text-center text-lg">인사관리</span>
        <hr>
    </div>
    <ul id="menus">
	    <li class="menu">
	        <a href="/department/list" class="menu-name">
	            <span class="material-symbols-outlined">lan</span>
	            부서 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/department/list">부서 조회</a></li>
	        </ul>
	    </li>
	    <li class="menu">
	        <a href="/employee/list" class="menu-name">
	            <span class="material-symbols-outlined">groups</span>
	            사원 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/employee/list">사원 조회</a></li>
	            <li class="sub-menu"><a href="/employee/regist">신규 사원 등록</a></li>
	            <li class="sub-menu"><a href="/employee/leaveList">퇴사 신청자 조회</a></li>
	            <li class="sub-menu"><a href="/employee/certificateList">증명서 발급 내역</a></li>
	        </ul>
	    </li>
	    <li class="menu">
	        <a href="/attendance/list" class="menu-name">
	            <span class="material-symbols-outlined">calendar_month</span>
	            근태 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/attendance/list">근태 현황 조회</a></li>
	            <li class="sub-menu"><a href="/attendance/regist">근태 입력</a></li>
	        </ul>
	    </li>
	    <li class="menu">
	        <a href="/annual/useList" class="menu-name">
	            <span class="material-symbols-outlined">interests</span>
	            연차 관리
	        </a>
	        <ul>
	            <li class="sub-menu"><a href="/annual/useList">연차 사용 내역</a></li>
	            <li class="sub-menu"><a href="/annual/ownList">연차 보유 현황</a></li>
	        </ul>
	    </li>
	</ul>
</div>