<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/draft/draft-inquiry.css">
    <script src="/js/groupware/draft/draft-inquiry.js"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>기안서 목록</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="content-selector">
                <div class="selector-list">
                    <span id="all" class="selected">전체</span>
                    <span id="inProgress">진행중</span>
                    <span id="reject">반려</span>
                    <span id="approved">결재완료</span>
                    <span id="tempSave">임시저장</span>
                </div>
                <hr>
            </div>
            <div class="search-option">
                <form id="searchForm" action="/groupware/draft" method="get">
                    <div class="split">
                        <label for="draftStatus" style="display: none">기안 상태</label>
                        <input type="hidden" id="draftStatus" class="input-date" name="draftStatus"
                               th:value="${ selectCriteria.getSearchValueMap().get('draftStatus') }">
                        <label for="startDate" style="display: none">시작 날짜</label>
                        <input type="date" id="startDate" class="input-date" name="startDate"
                               th:value="${ selectCriteria.getSearchValueMap().get('startDate') }">
                        <label for="endDate" style="display: none">종료 날짜</label>
                        <input type="date" id="endDate" class="input-date" name="endDate"
                               th:value="${ selectCriteria.getSearchValueMap().get('endDate') }">
                        <label for="author" style="display: none">기안자</label>
                        <select id="author" class="search-select" name="author">
                            <option value="" disabled selected>기안자</option>
                        </select>
                    </div>
                    <div class="split">
                        <label for="draftType" style="display: none">구분</label>
                        <select id="draftType" class="search-select" name="draftType">
                            <option value="" disabled selected>구분</option>
                        </select>
                        <label for="searchWord" style="display: none">검색어</label>
                        <input type="text" id="searchWord" name="searchWord" class="input-text" placeholder="검색어"
                               th:value="${ selectCriteria.getSearchValueMap().get('searchWord') }">
                        <button type="submit" class="btn-square modify">검색</button>
                        <button id="writeDraft" type="button" class="btn-square submit">기안 작성</button>
                    </div>
                </form>
            </div>
            <div class="result">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="title">제목</th>
                            <th class="date">기안일자</th>
                            <th class="type">구분</th>
                            <th class="author">기안자</th>
                            <th class="status">진행상태</th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="draft : ${ draftList }">
                    <tr>
                        <td class="no" id="draftNo" th:text="${ draft.getDraftNo() }"></td>
                        <td class="title" th:text="${ draft.getDraftTitle() }"></td>
                        <td class="date" th:text="${ draft.getDraftDate() }"></td>
                        <td class="type" th:text="${ draft.getDraftType() }"></td>
                        <td class="author" th:text="${ draft.getAuthor().getEmpName() }"></td>
                        <td class="status" th:text="${ draft.getDraftStatus() }"></td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:include="/common/paging"></div>
        </div>
    </article>
</section>
<script>
    let message = '[[${ message }]]';
    let typeQuery = '[[${ selectCriteria.getSearchValueMap().get("draftType") }]]';
    let draftStatusQuery = '[[${ selectCriteria.getSearchValueMap().get("draftStatus") }]]';
    let authorQuery = '[[${ selectCriteria.getSearchValueMap().get("author") }]]';
</script>
</body>
</html>