article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content hr {
    border: 0;
    border-bottom: 2px dashed var(--color-secondary-hovered);
    width: 100%;
}

#content .author-and-approval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content .draft-table {
    width: fit-content;
    font-size: 14px;
}

#content .draft-table th {
    width: 50px;
    max-width: 50px;
    color: #1c1c1c;
    background-color: #c4c4c4;
}

#content .draft-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content .draft-table th, #content .draft-table td {
    padding: 5px 15px;
    border: 1px solid var(--color-secondary);
}

#content #authorInfo td {
    width: 120px;
    max-width: 120px;
}

#content #approvalInfo th {
    width: 15px;
    max-width: 15px;
    padding: 5px 5px;
}

#content #approvalInfo td {
    text-align: center;
    height: 14px;
}

#content #approvalInfo #sign td {
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#content #approvalInfo td {
    width: 80px;
    max-width: 80px;
}

#content #titleInfo {
    width: 100%;
}

#content #titleInfo th {
    width: 50px;
    max-width: 50px;
}

#content #titleInfo th, #content #titleInfo td {
    padding: 10px 15px;
}

#content #titleInfo td.draft-title {
    max-width: 0;
}
#content #titleInfo td.draft-type {
    width: 175px;
    max-width: 175px;
}

#content .draft-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .draft-info .draft-title {

}

#content .draft-info .draft-title span {
    font-size: 20px;
    font-weight: bold;
}

#content .draft-info .draft-author-and-date {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 18px;
}

#content .draft-content {
    min-height: 400px;
}

#content iframe#draft-ifr {
    background-color: #fff;
    border: 0;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    width: 100%;
}

#content .draft-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
