<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="pager-box">
	<!-- 맨 앞으로 이동 버튼 -->
	<button  id="startPage">
		<span class="material-symbols-outlined">keyboard_double_arrow_left</span>
	</button>
	<!-- 이전 페이지 버튼 -->
	<th:block th:if="${ selectCriteria.pageNo <= 1 }">
		<button disabled="disabled">
			<span class="material-symbols-outlined">navigate_before</span>
		</button>
	</th:block>
	<th:block th:if="${ selectCriteria.pageNo > 1 }">
		<button id="prevPage">
			<span class="material-symbols-outlined">navigate_before</span>
		</button>
	</th:block>
	
	<!-- 숫자 버튼 -->
	  <div class="pager-number-box">
	  	<th:block th:with="start = ${selectCriteria.startPage}, last = ${selectCriteria.endPage}">
	  		<th:block th:each="p : ${#numbers.sequence(start,last)}">
	  			<th:block th:if="${ selectCriteria.pageNo eq p }">
			      <button class="page-number" th:text="${p}" disabled></button>
	  			</th:block>
	  			<th:block th:if="${ selectCriteria.pageNo ne p }">
			      <button class="page-number" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
	  			</th:block>
	  		</th:block>
         </th:block>
	  </div>
	
	<th:block th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }">
		<button disabled="disabled">
			<span class="material-symbols-outlined">navigate_next</span>
		</button>
	</th:block>

	<th:block th:if="${ selectCriteria.pageNo < selectCriteria.maxPage }">
		<button id="nextPage">
			<span class="material-symbols-outlined">navigate_next</span>
		</button>
	</th:block>
	
	
 	<button id="maxPage">
		<span class="material-symbols-outlined">keyboard_double_arrow_right</span>
	</button>
</div>
<script>

		const link = "/estimate/list";
		let searchText = "";
		let date = "[[${ searchValueMap.date }]]";
		let empName = "[[${ searchValueMap.empName }]]";
		let product = "[[${ searchValueMap.product }]]";
		let progress = "[[${ searchValueMap.progress }]]";

		if(date || empName || product || progress){
			/*검색어가 하나라도 있는 경우 */
			if(date && empName && product && progress){
				/*검색어가 모두 있는 경우*/
				searchText = "?date="+date+"&empName="+empName+"&product=" + product + "&progress=" + progress +"&currentPage="
			}else {
				/* 뭐 하나라도 없는 경우 (date 와 empName은 ""상태인듯 함. == 기본으로 이 둘은 있어야 함 )*/
				/* 검색어가 하나씩일때 */
				if(date && !empName && !product && !progress){
					searchText = "?date="+date+"&empName="+empName+ "&currentPage="
				}else if(!date && empName && !product && !progress){
					searchText = "?date="+date+"&empName="+empName+ "&currentPage="
				}else if(!date && !empName && product && !progress){
					searchText = "?date="+date+"&empName="+empName + "&product=" + product +"&currentPage="
					
				}else if(!date && !empName && !product && progress){
					searchText = "?date="+date+"&empName="+empName + "&progress=" + progress +"&currentPage="
					
				}else{
					
					/* 검색어가 두개일때 */
					if(date && empName && !product && !progress){
						searchText = "?date="+date+"&empName="+empName+ "&currentPage="
								
					}else if (date && !empName && product && !progress){
						searchText = "?date="+date+"&empName="+empName + "&product=" + product +"&currentPage="
								
					}else if (date && !empName && !product && progress){
						searchText = "?date="+date+"&empName="+empName + "&progress=" + progress +"&currentPage="
								
					}else if (!date && empName && product && !progress){
						searchText = "?date="+date+"&empName="+empName + "&product=" + product +"&currentPage="
								
					}else if (!date && empName && !product && progress){
						searchText = "?date="+date+"&empName="+empName + "&progress=" + progress +"&currentPage="
						
					}else if (!date && !empName && product && progress){
						searchText = "?date="+date+"&empName="+empName+"&product=" + product + "&progress=" + progress +"&currentPage="
						
					}else{
						if(date && !empName && product && progress){
							searchText = "?date="+date+"&empName="+empName+"&product=" + product + "&progress=" + progress +"&currentPage="
						}else if(date && empName && !product && progress){
							searchText = "?date="+date+"&empName="+empName+ "&progress=" + progress +"&currentPage="
							
						}else if(date && empName && product && !progress){
							searchText = "?date="+date+"&empName="+empName+"&product=" + product + "&currentPage="
							
						}else if(!date && empName && product && progress){
							searchText = "?date="+date+"&empName="+empName+"&product=" + product + "&progress=" + progress +"&currentPage="
							
						}
					}
					
				}
			}
			
			
		}else{
			/* 아무런 검색어가 없다면? */
			console.log("아무것도 입력하지 않음")
			searchText = "?currentPage=";
		}
		
		
		/* 첫 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("startPage")) {
			const $startPage = document.getElementById("startPage");
			$startPage.onclick = function() {
				location.href = link + searchText + 1;
			}
		}

		/* 이전 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("prevPage")) {
			const $prevPage = document.getElementById("prevPage");
			$prevPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteria.pageNo - 1 }]]";
			}
		}

		/* 다음 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("nextPage")) {
			const $nextPage = document.getElementById("nextPage");
			$nextPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteria.pageNo + 1 }]]";
			}
		}

		/* 마지막 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("maxPage")) {
			const $maxPage = document.getElementById("maxPage");
			$maxPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteria.maxPage }]]";
			}
		}

		
		/* 페이지 번호 버튼 click 이벤트 처리 */
		function pageButtonAction(text) {
			console.log(text)
			location.href = link + searchText + text ;
			
		}
		
	</script>
</body>
</html>




































