<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
   <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
		.showInfo {
			    width: 300px;
			    padding: 1px 20px 1px 20px;
			    border-radius: 5px;
			    appearance: none;
			    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
			    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
			
				text-align: center;
			    background-position-x: 5px;
			    background-size: 15px;
			    background-color: #FFFFFF;
			

		}
		input {
			text-align: center;
			width: 120px;
			
		}
		
		.text {
			  text-align:left;
			  width: 120px;
			  padding: 3px 10px 3px 30px;
			  border-radius: 3px;
			  appearance: none;
			  -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
			  -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
			
			  background-image: url(select.png);
			  background-repeat: no-repeat;
			  background-position: left;
			  background-position-x: 5px;
			  background-size: 15px;
			  border: 1px solid #6a6a6a;
			
			}
			
			  footer {
		    width: 100%;
		    height: 70px;
		    
		    display: flex;
		    
		    flex-direction: row;
		    
		    justify-content: space-between;
		     
		    background: #FFFFFF;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		}
		
		footer #bottons {
				position: relative;
				left: 30px;
		
		}
	
		footer #myMenus {
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    gap: 10px;
		
		    padding: 15px 20px;
		}
	
		footer #myMenus .icon-employee-default {
	    	border-radius: 50%;
		}
    </style>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside"></aside>
    <article>
       <div id="content">
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>
	            <span class="material-symbols-outlined">content_paste_search</span>
	            견적서 작성
	            </h1>
	            <br>
	        </div>
	        <div align="center" style="background-color: #DEEEF8" class="search-option">
	        	<br>
	        	<br>
	        	<b>작성 일자 :</b>
       			<input type="date" name="date" id="date" class="input-date">

	        	<b>유효기간 :</b>
       			<input type="date" name="expiryDate" id="expiryDate" class="input-date">

	        	<b>담당자 :</b>
	        	<select class="search-select text" name="empList" id="empName">
						  <option value="" selected>----</option>
						  <option th:each="emp : ${ empList }" th:text="${ emp.empName }" th:value="${ emp.empCode }"></option>
				</select>
	        	<b>거래처 :</b>
       			<input type="text" name="client" id="client" class="input-date">
	        	<br>
	        	<br> 
	        	<br> 
	        </div>
	        
		        <br> 
			    <br> 
	        	<!-- 창고 목록 받아와야해! -->
		        <div id="title" class="page-number" ></div>
	        <br>
	        <div id="content2">
			<table class="table-list" id="esti-table" style="width: 100%">
			    <thead style="background-color: #DEEEF8">
			        <th></th>
			        <th>품목코드</th>
			        <th>품목 명</th>
			        <th>수량</th>
			        <th>단가</th>
			        <th>공급가액</th>
			        <th>할인률</th>
			    </thead>
			    <tbody>
			        <tr>
			            <td>
			            	<span>
				             	<span class="material-symbols-outlined" id="plus" style="cursor: pointer" onclick="plusTrTd(this)">
									add_circle
								</span>
			            	</span>
			            </td>
			            
			            <td>
			            	<input type="text" id="code" name="code" class="inputIntheTable" readonly>
			            </td>
			            
			            <td>
			            	<span id="productName-wrap">
			            	<select class="search-select text" name="productName" id="productName" onchange="showProductInfo(this)" required>
									  <option value="" selected>----</option>
									  <option id="test" th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
			            	</span>
			            </td>
			            
			           <td style="width: 50px">
			            	<input id="productCount" name="productCount" class="inputIntheTable" style="width: 45px" >
			            </td>
			            <td>
			            	<input type="text" id="productWaearing" name="productWaearing" class="inputIntheTable" readonly>
			            </td>
			            
			            <td>
			            	<input type="text" id="productRelease" name="productRelease" class="inputIntheTable" readonly>
			            </td>
			            <td>
			            	<input type="text" id="productDiscount" name="productDiscount" class="inputIntheTable">
			            </td>
			        </tr>
				    </tbody>
			</table> 
			<br>
			<br>
        </div>
        
	<div></div>
	<div id="myMenus">
	
		<form action="/estimate/regist" method="post" style="text-align: center">
		
			<input type="hidden" id="sendDate" name="date" >
			<input type="hidden" id="sendExpiryDate" name="expiryDate" >
			<input type="hidden" id="sendEmpCode" name="empCode" >
			<input type="hidden" id="sendCodeArr" name="codeArr" >
			<input type="hidden" id="sendCountArr" name="countArr" >
			<input type="hidden" id="sendDiscountArr" name="discountArr" >
			<input type="hidden" id="sendProductCount" name="productCount" >
			<input type="hidden" id="sendProductCode" name="productCode" >
			<input type="hidden" id="sendClient" name="clientName" >
		
			<button type="button" class="btn-square submit" id="buttons" onclick="modify(this)">작성하기</button><br>
		</form> 
	
	</div>
    </article>
</section>
	
<br>
<br>
<br>
	<script>
	let element;
		
		/* 더하기 */
		function plusTrTd(plus){
			element = plus
			 var dynamicTable = document.getElementById('esti-table');
			
		     var newRow = dynamicTable.insertRow();
		     var cell1 = newRow.insertCell();
		     var cell2 = newRow.insertCell();
		     var cell3 = newRow.insertCell();
		     var cell4 = newRow.insertCell();
		     var cell5 = newRow.insertCell();
		     var cell6 = newRow.insertCell();
		     var cell7 = newRow.insertCell();
		     
		     cell1.innerHTML="<span><span class='material-symbols-outlined' id='plus' style='cursor: pointer' onclick='plusTrTd(this)'>add_circle</span></span>"
		     plus.parentElement.innerHTML= "<span><span class='material-symbols-outlined' style='cursor: pointer' onclick='deleteTrTd(this)'> do_not_disturb_on </span></span>"
		     cell2.innerHTML ='<input type="text" id="code" name="code" class="inputIntheTable" readonly>'
		     cell3.innerHTML ='<span id="productName-wrap">' + document.querySelector('#productName-wrap').innerHTML + '</span>'
		     cell4.innerHTML ='<input id="productCount" name="productCount" class="inputIntheTable" >'
		     cell5.innerHTML ='<input type="text" id="productWaearing" name="productWaearing" class="inputIntheTable" readonly>'
		     cell6.innerHTML ='<input type="text" id="productRelease" name="productRelease" class="inputIntheTable" readonly>'
		     cell7.innerHTML ='<input type="text" id="productDiscount" name="productDiscount" class="inputIntheTable">'
		     
		}
		
		/* 내용 채워넣기 */
		function showProductInfo(productName){
			element = productName;
			/* 기준점이 되는 해당 tr */
			var tr = productName.parentElement.parentElement.parentElement;
			/* 변화될 productCode 앨리먼트 */
			var productCode = tr.querySelector('#code')
			
			/* 변화될 productCount 앨리먼트 */
			var productCount = tr.querySelector('#productCount')

			/* 변화될 productWaearing 앨리먼트 */
			var productWaearing = tr.querySelector('#productWaearing')

			/* 변화될 productRelease 앨리먼트 */
			var productRelease = tr.querySelector('#productRelease')
			
			/* 할인률*/
			var productDiscount = tr.querySelector('#productDiscount');
			
			$.ajax({
				url : "/estimate/showRegistProductInfoText",
				data : {
					productCode: element.value
				},
				type :	"post",
				success : function(data){
					if(data.errorMessage){
						productCode.value = 0
						productWaearing.value = ""
						productRelease.value = ""
						alert(data.errorMessage)				
					}
					productList = data.productList[0]
					
					productCode.value = productList.productCode
					productWaearing.value = productList.productWaearing
					productRelease.value = productList.productRelease
					productDiscount.value = 0;
					productCount.value = 0;
										
				},
				error : function(){
					alert("정확한 품목명을 입력하세요.")
				}
			});
		}
		
		
		function deleteTrTd(icon){
			element = icon
			var tr = element.parentElement.parentElement.parentElement.parentElement
			tr.remove();
		}
	</script>

</body>

<script>
function modify(submitTag){
	
 	var trs = document.querySelectorAll("#esti-table tbody tr");
	var codeArr = [] 
	var countArr = []
	var productReleaseArr = [] 
	var discountArr = []
	var productCount; 
	var productCode;
	var productWaearing;
	var discount;
	
	var date = document.querySelector("#date").value
	var expiryDate = document.querySelector("#expiryDate").value
	var empCode = document.querySelector("#empName").value
	var client = document.querySelector("#client").value
	
	console.log(date)
	console.log(expiryDate)
	console.log(empCode)
	if(date.length === 0){
		alert("작성일자를 입력하세요")
		return;
	}else if(expiryDate.length === 0){
		alert("유효기간을 입력하세요")
		return;
	}else if(empCode.length === 0){
		alert("담당자를 입력하세요")
		return;
	}else if(client.length === 0){
		alert("거래처명을 입력하세요")
		return;
	}
	
	for(var i=0; i < trs.length; i++){

		/*값 가져오기*/
		productCount = trs[i].querySelector("#productCount").value
		productCode = trs[i].querySelector("#productName").value
		productRelease = trs[i].querySelector("#productRelease").value
		discount = trs[i].querySelector("#productDiscount").value

		/*배열로 담기*/
		countArr.push(productCount);
		codeArr.push(productCode);
		productReleaseArr.push(productRelease);
		discountArr.push(discount);
		
		/* 내용을 입력하지 않을 시 alert */
		if(codeArr[i] === '' && countArr[i] === ''){
			/* 모두 입력하지 않았을때 */
			alert("품목명과 수량을 입력하세요")
			return;
		}else if(codeArr[i] === ''){
			alert("품목명을 입력하세요")
			return;
		}else if( countArr[i] === '' || countArr[i] === '0' ){
			alert("수량을 입력하세요")
			return;
		}
		
		if(discountArr[i] === ''){
			alert("할인률을 입력하세요")
			return;
		}
	}
	
		console.log("요기요기요")
		console.log(codeArr.value)
		console.log(countArr.value)
		console.log(productReleaseArr.value)
		
		$.ajax({
			url : "/estimate/regist",
			data : {
				date     : date     ,
				expiryDate  : expiryDate  ,
				empCode  : empCode  ,
				codeArr  : codeArr  ,
				countArr :  countArr,
				discountArr : discountArr,
				productReleaseArr : productReleaseArr,
				client : client
			},
			type :	"post",
			success : function(data){
				alert(data)
				location.href="/estimate/list"
			
			},
			error : function(){
				alert("동일한 품목을 중복으로 기입하실 수 없습니다.")
			}
		});
		
}

</script>
</html>
