<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/schedule/schedule-inquiry.css">
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>공지사항</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="search-option">
                <form method="get">
                    <label for="startDate" style="display: none">시작 날짜</label>
                    <input type="date" id="startDate" class="input-date" name="startDate"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('startDate') :
                                        ''}">
                    <label for="endDate" style="display: none">종료 날짜</label>
                    <input type="date" id="endDate" class="input-date" name="endDate"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('endDate') :
                                        ''}">
                    <label for="searchWord" style="display: none">제목</label>
                    <input type="text" id="searchWord" name="searchWord" class="input-text" placeholder="제목"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('searchWord') :
                                        ''}">
                    <button type="submit" class="btn-square modify">검색</button>
                    <a href="/notice/regist">
                        <button type="button" class="btn-square submit">공지사항 등록</button>
                    </a>
                </form>
            </div>
            <div class="navigation">
            </div>
            <div class="result">
                <table class="table-list" id="notice-list">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="notice : ${ noticeList }">
                            <tr>
                                <td th:text="${ notice.noticeNo }"></td>
                                <td th:text="${notice.noticeTitle }"></td>
                                <td th:text="${ notice.noticeDate }"></td>
                                <td th:text="${ notice.emp.empName }"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div th:include="/common/paging"></div>
        </div>
    </article>
</section>
<script>
      function popup(no){
          var url = no;
          var option = "width = 1200, height = 700, top = 100, left = 200, location = no"
          window.open(url, name, option);
      }
      /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
      if (document.querySelectorAll("#notice-list td")) {
         const $tds = document.querySelectorAll("#notice-list td");
         for (let i = 0; i < $tds.length; i++) {	

            $tds[i].onmouseenter = function() {
               this.parentNode.style.backgroundColor = "#DEEEF8";
               this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onmouseout = function() {
               this.parentNode.style.backgroundColor = "#FFFFFF";
            }

            $tds[i].onclick = function() {
               const no = this.parentNode.children[0].innerText;
               popup(no);
            }
         }
      }
</script>
<script>
		opener.parent.location.reload();
		opener.parent.location.reload();
		window.close();
</script>
</body>
</html>