<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>부서 목록</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		const modifyMessage = "[[${modifySuccessMessage}]]";
		successMessage && alert(successMessage);
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		window.close();
	</script>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>부서 목록</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <div id="content" align="right">
	            	<button type="submit" class="btn-square submit" onclick="popup()">등록</button><br><br>
	            </div>
	            <table class="table-list">
	            	<thead>
						<tr>
							<th>부서명</th>
				            <th>사용여부</th>
				            <th>수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="department : ${ deptList }">
							<td th:text="${ department.name }"></td>
							<td th:text="${ department.useYn }"></td>
							<td>
								<a th:href="@{/department/modifyName/{code}/(code=${department.code})}">
                  					<button type="button" class="btn-square modify" onclick="popup1()">수정</button> 
             					</a>
             				</td>
						</tr>
					</tbody>
				</table>
				<br><br>
	    </article>
	</section>
	<script>
		function popup(){
		    window.open("regist","_blank", 'width=800, height=360, top=220, left=650');
		}
	</script>
</body>
</html>