/* ==================== */
/* ==== CSS Module ==== */
/* ==================== */
@import url('component.css');

/* ==================== */
/* ======= Font ======= */
/* ==================== */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ==================== */
/* ====== Global ====== */
/* ==================== */
body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
    background-color: var(--color-primary);
}

.com-logo {
    background-image: url('/assets/logo.png');
    background-size: cover;
    background-position: center;

    width: 121px;
    height: 39px;
}

.icon-mypage {
    background-image: url('/assets/icons/mypage.svg');
    background-size: cover;
    background-position: center;
}

.icon-employee-default {
    background-image: url('/assets/icons/employee-default.jpg');
    background-size: cover;
    background-position: center;
}

.size-20 {
    width: 20px;
    height: 20px;
}

.size-30 {
    width: 30px;
    height: 30px;
}

.size-60 {
    width: 60px;
    height: 60px;
}

.text-center {
    text-align: center;
}

.text-bld {
    font-weight: bold;
}

.text-lg {
    font-size: 24px;
}

/* ==================== */
/* ====== Header ====== */
/* ==================== */
header {
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    z-index: 199;
    top: 0;
    left: 0;
}

header .header-wrapper {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header #logoAndMenus {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header #headerMenus {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 20px;
}

header #headerMenus .header-menu {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
}

header #headerMenus .header-menu:hover {
    color: var(--color-secondary-hovered);
}

header #myMenus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 15px 20px;
}

header #myMenus .icon-employee-default {
    border-radius: 50%;
}

/* ===================== */
/* ====== Section ====== */
/* ===================== */
section {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

/* ===================== */
/* ======= Aside ======= */
/* ===================== */
aside {
    flex: 0 0 240px;
    height: fit-content;
    margin: 10px 5px 10px 10px;
    padding: 15px;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

aside #employeeInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside #employeeInfo #profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside #employeeInfo .icon-employee-default {
    border-radius: 10px;
}

aside #employeeInfo #employeeName {
    flex: 1 1 auto;
    text-align: center;
    font-weight: bold;
}

aside #employeeInfo #attendance #attendanceInfo {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

aside #employeeInfo #attendance #attendanceInfo > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside #employeeInfo #attendance #attendanceButtons {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside .aside-title {
    display: flex;
    flex-direction: column;
}

aside .aside-title hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
    border: 0;
    color: var(--color-secondary);
}

aside #menus {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

aside #menus .menu {
    list-style: none;
}

aside #menus .menu .menu-name {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

aside #menus .menu ul {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside #menus .menu .sub-menu {
    list-style: none;
    font-size: 14px;
}

aside #menus a {
    text-decoration: none;
    color: inherit;
}

aside #menus a:hover {
    color: var(--color-secondary-hovered);
    transition: 0.2s;
}

/* ===================== */
/* ====== Article ====== */
/* ===================== */
article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    
    flex: 1 1 auto;
    margin: 10px 10px 10px 5px;
    padding: 15px;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    word-wrap: break-word;
}

article #title h1 {
    margin: 10px 10px;
    font-size: 25px;
}

article p {
    margin-inline-start: 0.7rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}