
/* 둥근 버튼 */
.btn-circle {
    font-family: var(--font-default);
    border: 1px solid ;
    border-radius: 17px;
    background-color: white;
    padding: 3px 15px;
    cursor: pointer;
}

/* 사각형 버튼 */
.btn-square {
    font-family: var(--font-default);
    border: 1px solid ;
    border-radius: 5px;
    background-color: white;
    padding: 3px 15px;
    cursor: pointer;
}

.submit {
    border-color: #1187CF;
    color: #1187CF;
}

.modify {
    border-color: #6A6A6A;
    color: #6A6A6A;
}

.delete {
    border-color: #FF6B6B;
    color: #FF6B6B;
}

.submit:hover {
    color:white;
    background-color: #1187CF;
    transition: 0.2s;
}

.modify:hover {
    color:white;
    background-color: #6A6A6A;
    transition: 0.2s;
}

.delete:hover {
    color:white;
    background-color: #FF6B6B;
    transition: 0.2s;
}

.search-select {
    width: 300px;
    padding: 4px 10px 4px 30px;
    border-radius: 3px;
    font-family: var(--font-default);
    font-size: 13px;
    color: var(--color-secondary);
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    background-image: url('/assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-size: 15px;

    cursor: pointer;
}

.search-select[value=""] {
    color: var(--color-secondary);
}

.search-select option[value=""][disabled] {
    display: none;
}

.table-list {
    font-family: var(--font-default);
    border-collapse: collapse;
    text-align: center;
}

.table-list th {
    border-top: 2px solid #6a6a6a;
    border-bottom: 2px solid #6a6a6a;
    padding: 5px 20px 5px 20px;
}

.table-list td {
    border-bottom: 1px solid #6a6a6a;
    padding: 5px 20px 5px 20px;
}

.input-date {
    font-family: var(--font-default);
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
    padding: 2px 5px;
    font-size: 13px;
    color: var(--color-secondary);
}

.input-text {
    width: 300px;
    padding: 3px 10px 3px 30px;
    border-radius: 3px;
    appearance: none;
    font-size: 13px;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    background-image: url('/assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-size: 15px;

    border: 1px solid #6a6a6a;
    line-height: 0;
}

div.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label.input-text-no-search {
    font-size: 12px;
    padding-left: 10px;
}
input.input-text-no-search {
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 3px;
    appearance: none;
    font-size: 13px;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    border: 1px solid var(--color-secondary);
    line-height: 0;
}

label.input-date-no-search {
    font-size: 12px;
    padding-left: 10px;
}
input.input-date-no-search {
    box-sizing: border-box;
    font-family: var(--font-default);
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
    padding: 2px 5px;
    font-size: 13px;
    color: var(--color-secondary);
}

label.select-no-search {
    font-size: 12px;
    padding-left: 10px
}

select.select-no-search {
    min-width: 0;
    box-sizing: border-box;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 14px;

    border: 1px solid var(--color-secondary);
    line-height: 0;
    color: var(--color-secondary);
}

/*
    Paging component
 */

.pager-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pager-box button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--color-secondary);
    font-family: var(--font-default);
    font-size: 16px;
    height: 24px;
    padding: 0;
}

.pager-box .pager-number-box {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}