<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" href="/css/certificate/certificateDetail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>증명서 출력</title>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>증명서 출력</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <table class="table-list" style="width: 100%; text-align:center;" id="certificate-table">
				    	<tr>
				    		<td colspan="4" th:if="${ certificateDetail.certification.certificateTypeCode } == 'H2'" th:text="재직증명서"/>
				    		<td colspan="4" th:if="${ certificateDetail.certification.certificateTypeCode } == 'H1'" th:text="경력증명서"/>
				        </tr>
				        <tr><td colspan="4" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 회사정보</td></tr>
				    	<tr>
					        <td>회사명</td>
					        <td th:text="${ companyInfo.companyName }"/>
					        <td>대표</td>
					        <td th:text="${ companyInfo.ceoName }"/>
				        </tr>
				        <tr>
					        <td>주소</td>
					        <td colspan="3" th:text="${ companyInfo.companyAddress }"/>
				        </tr>
				        <tr><td colspan="4" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 재직사항</td></tr>
				    	<tr>
					        <td>이름</td>
					        <td th:text="${ employeeDetail.empName }"/>
					        <td>생년월일</td>
					        <td th:text="${ employeeDetail.empBirth }"/>
				        </tr>
				        <tr>
					        <td>부서/직급</td>
					        <td th:text="${ employeeDetail.department.name } + ' / ' + ${ employeeDetail.jobGrade.jobName }" />
					        <td th:if="${ certificateDetail.certification.certificateTypeCode } == 'H2'">입사일</td>
					        <td th:if="${ certificateDetail.certification.certificateTypeCode } == 'H1'">재직기간</td>
					        <td th:if="${ certificateDetail.certification.certificateTypeCode } == 'H2'" th:text="${ employeeDetail.empJoindate }"/>
					        <td th:if="${ certificateDetail.certification.certificateTypeCode } == 'H1' and ${ employeeDetail.empLeavedate } != null" th:text="${ employeeDetail.empJoindate } + ' ~ ' + ${ employeeDetail.empLeavedate }"/>
					        <td th:if="${ certificateDetail.certification.certificateTypeCode } == 'H1' and ${ employeeDetail.empLeavedate } == null" th:text="${ employeeDetail.empJoindate } + ' ~ ' + ${ certificateDetail.publishedDate }"/>
				        </tr>
						<tr>
					        <td>주소</td>
					        <td colspan="3" th:text="${ employeeDetail.empAddress }"/>
				        </tr>
				        <tr>
					        <td>용도</td>
					        <td colspan="3" th:text="${ certificateDetail.purpose }"/>
				        </tr>
				        <tr>
					        <td colspan="4" >
					        	<br><br>
					        	<span th:if="${ certificateDetail.certification.certificateTypeCode } == 'H2'">상기와 같이 재직하고 있음을 증명합니다.</span>
					        	<span th:if="${ certificateDetail.certification.certificateTypeCode } == 'H1'">상기와 같이 재직하였음을 증명합니다.</span><br><br><br>
					        	<span th:text="${ certificateDetail.publishedDate }"></span><br><br><br>
					        </td>
				        </tr>
				</table>
			<div id="content" align="center">
            	<button type="button" class="btn-square submit" onclick="location.href='/employee/certificateList'">목록</button>
            	<button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
            </div>
				<br><br><br><br><br><br>
	    </article>
	</section>
	<script>
    function printDiv() {
    	var style = '<head><link rel="stylesheet" href="/css/certificate/certificateDetail.css"><link rel="stylesheet" href="/css/common/component.css"></head>';
        var divToPrint = document.getElementById('certificate-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
	        newWin.print();
	        newWin.close();
        }, 100);
    }
	</script>		
</body>
</html>