<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>퇴사 신청자 목록</title>
</head>
<body>
	<script>
		const modifyMessage = "[[${modifySuccessMessage}]]";
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		window.close();
	</script>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>퇴사 신청자 목록</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <table class="table-list">
	            	<thead>
						<tr>
							<th>사원번호</th>
				            <th>이름</th>
				            <th>부서명</th>
				            <th>직위</th>
				            <th>Email</th>
				            <th>승인</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="leaveList : ${ leaveList }" >
							<td th:text="${ leaveList.empCode }"></td>
							<td th:text="${ leaveList.empName }"></td>
							<td th:text="${ leaveList.department.name }"></td>
							<td th:text="${ leaveList.jobGrade.jobName }"></td>
							<td th:text="${ leaveList.empEmail }"></td>
							<td>
				            	<a th:href="@{/employee/leaveDetail/{empCode}(empCode=${leaveList.empCode})}">
                  					<button type="button" class="btn-square delete">승인</button> 
             					</a>
							</td>
						</tr>
					</tbody>
				</table>
	    </article>
	</section>			
</body>
</html>