<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>사원 목록</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
	</script>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>사원 목록</h1>
	        </div>
		    <div align="center" style="background-color: #DEEEF8"><br>
		        <form id="employeeSearchForm" action="/employee/list" method="get">
			        <select class="search-select" id="searchCondition" name="searchCondition" required>
			        	<option value="" disabled selected>분류</option>
			            <option value="empName" th:selected="${searchCondition}=='name'">이름</option>
			            <option value="deptName" th:selected="${searchCondition}=='deptName'">부서명</option>
			            <option value="jobName" th:selected="${searchCondition}=='jobName'">직위</option>
			        </select>
			        <input type="hidden" name="currentPage" value="1">
			        <input type="text" class="input-text" id="name" name="searchValue" required/>
			        <button type="submit" class="btn-square submit">검색</button><br><br>
		        </form>
		    </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <div id="content" align="right">
	            	<button type="submit" class="btn-square submit" onclick="location.href='/employee/regist'">등록</button><br><br>
	            </div>
	            <table class="table-list" id="employee-table">
	            	<thead>
						<tr>
							<th>사원번호</th>
				            <th>이름</th>
				            <th>부서명</th>
				            <th>직위</th>
				            <th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${ empList }" >
							<td th:text="${ employee.empCode }"></td>
							<td th:text="${ employee.empName }"></td>
							<td th:text="${ employee.department.name }"></td>
							<td th:text="${ employee.jobGrade.jobName }"></td>
							<td th:text="${ employee.empEmail }"></td>
						</tr>
					</tbody>
				</table>
				<div th:replace="employee/paging.html"></div>
	    </article>
	</section>
	
	<script>
		/* 게시글 리스트에서 해당 게시글에 마우스를 올릴 때에 대한 스타일 처리 */
		if (document.querySelectorAll("#employee-table td")) {
			const $tds = document.querySelectorAll("#employee-table td");
			for (let i = 0; i < $tds.length; i++) {
		
				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}
		
				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}
		
				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					location.href = 'detail/' + no;
				}
			}
		}
	</script>				
</body>
</html>