<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>권한 수정</title>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>권한 수정</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
		        <div id="content" align="center">
		            <form action="/employee/permission/modify" method="post">
			            <div id="content" align="center">
			            사번&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			            <input type="text" name="empCode" th:value="${ employeeDetail.empCode }" readonly><br><br>
			            이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			            <input type="text" name="empName" th:value="${ employeeDetail.empName }" readonly><br><br>
			            현재 권한&nbsp;&nbsp;&nbsp;
			            <select name="permissionCode" class="search-select" id="permissionCode" required>
			            	<option value="" disabled selected>권한 선택</option>
                            <option th:each="userPermissionList : ${ userPermissionList }" th:text="${ userPermissionList.permission.permissionName }" th:value="${ userPermissionList.permissionCode }"></option>
			            </select><br><br><br>
			            변경 권한&nbsp;&nbsp;&nbsp;<select name="code" class="search-select" id="code" value="code"></select><br><br><br>
			            <button type="button" class="btn-circle delete" onclick="history.back()">취소</button>
			            <button type="submit" class="btn-circle modify">수정</button>
						</div>
			    	</form>
				</div>
	    </article>
	</section>
	<script>
		$(function(){
			$.ajax({
				url: "/employee/permissionCode",
				success: function(data){
					const $code = $("#code");
					$code.html("");
	
					for(let index in data){
						$code.append($("<option>").val(data[index].permissionCode).text(data[index].permissionName));
					}
				},
				error: function(xhr){
					console.log(xhr);
				}
			});
		});
	</script>
</body>
</html>