<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/draft/draft-inquiry.css">
    <title>ASAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
	<style>
		.search-option form {
			display: flex;
			flex-direction: row;
			gap: 5px;
		}
	</style>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/asidehrm"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>직원 근태 관리</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->

            <div class="search-option">
                <form action="/attendance/list" method="get">
                    <label for="startDate" style="display: none">시작 날짜</label>
                    <input type="date" id="startDate" class="input-date" name="startDate">
                    <label for="endDate" style="display: none">종료 날짜</label>
                    <input type="date" id="endDate" class="input-date" name="endDate">
                    <label for="searchWord" style="display: none">검색어</label>
                    <input type="text" id="searchWord" name="searchWord" class="input-text" placeholder="검색어">
                    <button type="submit" class="btn-square modify">검색</button>
                </form>
            </div>
            <div class="result">
                <table class="table-list" id="attendance-list">
                    <thead>
                        <tr>
                            <th>근태번호</th>
                            <th>사원</th>
                            <th>출근날짜</th>
                            <th>출근시간</th>
                            <th>퇴근시간</th>
                            <th>업무시간</th>
                            <th>초과시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="att : ${ attendanceList }">
                        	<td th:text="${ att.attendanceCode }"></td>
                        	<td th:text="${ att.emp.empName }"></td>
                        	<td th:text="${ att.workDate }"></td>
                        	<td th:text="${ att.goworkTime }"></td>
                        	<td th:text="${ att.outworkTime }"></td>
                        	<td th:text="${ att.workTime }"></td>
                        	<td th:text="${ att.overtimeAllowance }"></td>
                        </tr>
                    </tbody>
                </table>
      			 <div th:replace="attendance/paging.html"></div> 
            </div>
        </div>
    </article>
</section>

<script>
      function popup(no){
          var url = no;
          var name = "popup";
          var option = "width = 1200, height = 700, top = 100, left = 200, location = no"
          window.open(url, name, option);
      }
      /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
      if (document.querySelectorAll("#attendance-list td")) {
         const $tds = document.querySelectorAll("#attendance-list td");
         for (let i = 0; i < $tds.length; i++) {

            $tds[i].onmouseenter = function() {
               this.parentNode.style.backgroundColor = "#DEEEF8";
               this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onmouseout = function() {
               this.parentNode.style.backgroundColor = "#FFFFFF";
            }

            $tds[i].onclick = function() {
               const no = this.parentNode.children[0].innerText;
               popup(no);
            }
         }
      }
</script>
<script>
		const successMessage = "[[${registSuccessMessage}]]"; 
		const modifyMessage = "[[${modifySuccessMessage}]]";
		successMessage && alert(successMessage);
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		opener.parent.location.reload();
		window.close();
</script>
</body>
</html>