<div xmlns:th="http://www.thymeleaf.org" class="pager-box">
    <!--/* 맨 앞으로 */-->
    <button id="startPage">
        <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
    </button>
    <!--/* 이전으로 */-->
    <button id="prevPage" th:disabled="${ selectCriteria.getPageNo() <= 1 }">
        <span class="material-symbols-outlined">navigate_before</span>
    </button>

    <!--/* 숫자 버튼 */-->
    <th:block th:with="start = ${ selectCriteria.getStartPage() }, last = ${ selectCriteria.getEndPage() }">
        <div class="pager-number-box">
            <th:block th:each="p : ${ #numbers.sequence(start, last) }">
                <button th:text="${ p }" th:disabled="${ selectCriteria.getPageNo() eq p }"
                        onclick="pageButtonAction(this.innerText)"></button>
            </th:block>
        </div>
    </th:block>

    <!--/* 다음으로 */-->
    <button id="nextPage" th:disabled="${ selectCriteria.getPageNo() >= selectCriteria.getMaxPage() }">
        <span class="material-symbols-outlined">navigate_next</span>
    </button>
    <!--/* 맨 뒤로 */-->
    <button id="endPage">
        <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
    </button>
    <script th:inline="javascript">
        const link = window.location.pathname;
        const searchText = [[${ selectCriteria.getQueryString() }]]

        const startPage = document.querySelector('.pager-box #startPage');
        if(startPage) {
            startPage.addEventListener('click', () => {
                location.href = link + '?page=1' + searchText;
            });
        }
    </script>
    <script>
        const prevPage = document.querySelector('.pager-box #prevPage');
        if(prevPage) {
            prevPage.addEventListener('click', () => {
                location.href = link + '?page=[[${ selectCriteria.getPageNo() - 1}]]' + searchText;
            });
        }

        const nextPage = document.querySelector('.pager-box #nextPage');
        if(nextPage) {
            nextPage.addEventListener('click', () => {
                location.href = link + '?page=[[${ selectCriteria.getPageNo() + 1}]]' + searchText;
            });
        }

        const endPage = document.querySelector('.pager-box #endPage');
        if(endPage) {
            endPage.addEventListener('click', () => {
                location.href = link + '?page=[[${ selectCriteria.getMaxPage()}]]' + searchText;
            });
        }

        function pageButtonAction(text) {
            location.href = link + '?page=' + text + searchText;
        }
    </script>
</div>