<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>      
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/common/dependencies"/>
    <title>근태 등록</title>
    <style>
	table tr th, table tr td {
		border: 1px solid var(--color-secondary-hovered);
		height: 50px;
		align-content: center;
	}
	</style>
</head>
<body>
<header th:include="/common/header"></header>
<section>
    <aside th:include="/common/asidehrm"></aside>
    <article>
        <div id="title">
            <h1>근태 등록</h1>
        </div>
	<form id="test" action="/attendance/regist" method="post" align="center">
	
	 <table style="width: 100%;">
	 <tr>
        <th>출근일</th>
        <th>
        	<input type="date" name="workDate" required>
        </th>
        <!-- <th>사원번호</th>
        <th>
        	<input type="number" name="empCode">
        </th> -->
        
<!--         <th>사원번호</th>
        <th>
       		<select name="empCode" class="search-select">
					<option th:each="emp : ${ employee }" th:text="${ emp.empName }" th:value="${ emp.empCode }"></option>
			</select>
        </th> -->
        
	 <th>이름</th>
     <th>
     	<select name="empCode" class="search-select" id="empCode" required></select>
     </th>
     </tr>
     
   	 <tr>
        <th>출근시간</th>
        <th>
        	<input type="text" name="goworkTime" required>
        </th>
        <th>퇴근시간</th>
        <th>
        	<input type="text" name="outworkTime" required>
        </th>
     </tr>
     
   	 <tr>
        <th>근무시간</th>
        <th>
        	<input type="number" name="workTime" required>
        </th>
        <th>초과 근무 시간</th>
        <th>
        	<input type="number" name="overtimeAllowance" required>
        </th>
     </tr>
	 </table>
<!-- 	 
	 <label>출근일</label><input type="date" name="workDate"><br>
	 <label>출근시간</label><input type="text" name="goworkTime"><br>
	 <label>퇴근시간</label><input type="text" name="outworkTime"><br>
	 <label>근무시간</label><input type="number" name="workTime"><br>
	 <label>초과 근무 시간</label><input type="number" name="overtimeAllowance"><br>
	 <label>사원번호</label><input type="number" name="empCode"><br> -->
	 <br>
	<button type="submit" class="btn-circle submit">등록하기</button>
	</form>
    </article>
</section>

	<script>
		
		$(function(){
			$.ajax({
				url: "/employee/empName",
				success: function(data){
					const $empCode = $("#empCode");
					$empCode.html("");

					for(let index in data){
						$empCode.append($("<option>").val(data[index].empCode).text(data[index].empName));
					}
				},
				error: function(xhr){
					console.log(xhr);
				}
			});
		});
		
	</script>
</body>
</html>