<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="/css/receiving/receiving.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/receiving/aside"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>입고 내역 조회</h1>
        </div>
        <div id="content">
            <div class="input_box">
                <form action="/receiving/list" method="get">
                    <input type="hidden" name="currentPage" value="1">
                    <div>
                        <label>기간</label>
                        <input type="date" class="input-date" id="startDate" name="startDate">
                        ~
                        <input type="date" class="input-date" id="endDate" name="endDate"><br><br>
                    </div>
                    <div>
                        <label for="storage-input">창고명</label>
                        <input type="text" id="storage-input" class="input-text" name="storagename" placeholder="창고명을 입력해주세요.">
                        <label for="product-input">상품명</label>
                        <input type="text" id="product-input" class="input-text" name="productname" placeholder="상품명을 입력해주세요.">
                        <button type="submit" class="btn-square submit">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
        <table class="table-list" id="receiving-table">
            <thead>
                <tr>
                    <th style="display: none;">내역번호</th>
                    <th>상품명</th>
                    <th>입고량</th>
                    <th>입고일자</th>
                    <th>내용</th>
                    <th>창고명</th>
                    <th>거래처명</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${ receivingHistoryList }">
                <td style="display: none;" th:text="${ list.receivingHistoryNo }"></td>
                <td th:text="${ list.productName }"></td>
                <td th:text="${ list.receivingAmount }"></td>
                <td th:text="${ list.inventoryDate }"></td>
                <td th:text="${ list.receivingComent }"></td>
                <td th:text="${ list.storageName }"></td>
                <td th:text="${ list.ClientName }"></td>
            </tr>
            </tbody>
        </table>
        <div style="display: flex; gap: 3px;">
            <button type="button" class="btn-square submit" id="excelFileExport">Excel 다운로드</button>
            <button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
            <button type="button" class="btn-square submit" style="margin-left: auto;" onclick="registpopup()">등록</button>
        </div>
        <div th:include="/common/paging"></div>
    </article>
</section>
<!-- excel 파일 다운로드 (테이블) -->
<script>
    //공통
    function s2ab(s) {
        var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
        var view = new Uint8Array(buf);  //create uint8array as viewer
        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
        return buf;
    }
    function exportExcel(){
        // step 1. workbook 생성
        var wb = XLSX.utils.book_new();

        // step 2. 시트 만들기
        var newWorksheet = excelHandler.getWorksheet();

        // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.
        XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

        // step 4. 엑셀 파일 만들기
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

        // step 5. 엑셀 파일 내보내기
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
    }
    $(document).ready(function() {
        $("#excelFileExport").click(function(){
            exportExcel();
        });
    });
</script>
<script>
    var excelHandler = {
        getExcelFileName : function(){
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth()+1;
            let date = today.getDate();

            return '' + year + month + date + '_입고내역.xlsx';
        },
        getSheetName : function(){
            return '입고내역';
        },
        getExcelData : function(){
            return document.getElementById('receiving-table');
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
    }
</script>
<script>
    function printDiv() {
        var style = "<head><link rel='stylesheet' href='/css/common/component.css'></head>";
        var divToPrint = document.getElementById('receiving-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
            newWin.print();
            newWin.close();
        }, 100);
    }
</script>
<script>
    window.onload = function () {
        document.querySelector('#content form').addEventListener('submit', checkSubmit);

        addEventToTable();
    }

    function checkSubmit(event) {
        event.preventDefault();

        if(event.target instanceof HTMLFormElement) {
            if(event.target.querySelector('#endDate').value !== '' ^ event.target.querySelector('#startDate').value !== '') {
                alert('날짜로 검색하려면 시작과 종료 모두 입력해 주세요.');
            } else {
                event.target.submit();
            }
        }
    }
</script>
<script>
    function popup(no){
        var popupwidth = 850;
        var popupheight = 450;

        var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
        var popupY= (window.screen.height / 2) - (popupheight / 2);

        var url = no;
        var name = "popup";
        window.open(
            url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
    }
</script>
<script>
    /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
    if (document.querySelectorAll("#stock-table td")) {
        const $tds = document.querySelectorAll("#receiving-table td");
        for (let i = 0; i < $tds.length; i++) {

            $tds[i].onmouseenter = function() {
                this.parentNode.style.backgroundColor = "#DEEEF8";
                this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onmouseout = function() {
                this.parentNode.style.backgroundColor = "#FFFFFF";
            }

            $tds[i].onclick = function() {
                const no = this.parentNode.children[0].innerText;
                popup(no);
            }
        }
    }
</script>
<script>
    function registpopup(){
        var popupwidth = 1800;
        var popupheight = 400;

        var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
        var popupY= (window.screen.height / 2) - (popupheight / 2);

        var url = "/receiving/regist";
        var name = "popup";
        window.open(
            url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
    }
</script>
</body>
</html>