<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
<th:block th:include="/common/dependencies" />
<title>주문 내역</title>
<style>
		table tr th, table tr td {
			border: 1px solid black;
			height: 50px;
			align-content: center;
			text-align: center;
		}
		.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
</style>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
		window.opener.location.reload();
	</script>
	<!--/* 헤더 */-->
	<section>
		<!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
		<article>
			<div id="title">
				<h1>
					<span class="material-symbols-outlined">storefront</span> 주문내역 등록
				</h1>
			</div>
			<form action="/order/regist" method="post">
				<!-- 부트에서는 default로 잡혀있는 최상위 루트가 '/'다. -->
				<table style="width: 100%; text-align: center;">
					<tr>
						<th>주문 일자</th>
						<td><input type="date" name="orderDate" required></td>
						<th>금액합계</th>
						<td><input type="number" name="orderPrice" required></td>
					</tr>
					<tr>
						<th>송장번호</th>
						<td><input type="text" name="orderShippingNumber"id="orderShippingNumber" required></td>
						<th>상품명</th>
						<td><select name="productCode" class="search-select" required>
								<option th:each="product : ${ productList }"
									th:text="${ product.productName }"
									th:value="${ product.productCode }">
								</option>
						    </select>
						</td>
					</tr>
					<tr>
						<th>주문 상태</th>
						<th colspan="3">
					        	<input type="button" id="maintain1" class="btn-YorN" value="YES" onclick="yesClick()">
					        	<input type="button" id="maintain2" class="btn-YorN" value="NO" onclick="noClick()">
					        	<input type="hidden" name="orderShippingStatus" class="maintain">
					        </th>
					</tr>
				</table>
				<br>
				<div align="center">
					<button type="submit" class="btn-circle submit">등록</button>
					<br>
				</div>
			</form>
		</article>
	</section>
	<script>
		/* 전화번호 정규 표현식 */
		$("#orderShippingNumber").focusout(function (event) {

			var regexp = /^[0-9]+$/;
			phoneCheck = $(this).val();
			if (!regexp.test(phoneCheck)) {
				alert("숫자만 입력해주세요.");
				$(this).val('');
			}
		});
		
		function yesClick(){
			 document.getElementById("maintain1").style.backgroundColor = "#6A6A6A";
			 document.getElementById("maintain1").style.color = "white";
			 document.getElementById("maintain2").style.backgroundColor = "white";
			 document.getElementById("maintain2").style.color = "var(--color-secondary)";
			 $(".orderShippingStatus").val("Y")
		 }
		 function noClick(){
			 document.getElementById("maintain2").style.backgroundColor = "#6A6A6A";
			 document.getElementById("maintain2").style.color = "white";
			 document.getElementById("maintain1").style.backgroundColor = "white";
			 document.getElementById("maintain1").style.color = "var(--color-secondary)";
			 $(".orderShippingStatus").val("N")
		 }
	</script>
</body>
</html>