<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>판매내역</title>
</head>
<body>

<div class="pager-box">
	<!-- 맨 앞으로 이동 버튼 -->
	<button  id="startPage">
		<span class="material-symbols-outlined">keyboard_double_arrow_left</span>
	</button>
	<!-- 이전 페이지 버튼 -->
	<th:block th:if="${ selectCriteriaforDoubleValue.pageNo <= 1 }">
		<button disabled="disabled">
			<span class="material-symbols-outlined">navigate_before</span>
		</button>
	</th:block>
	<th:block th:if="${ selectCriteriaforDoubleValue.pageNo > 1 }">
		<button id="prevPage">
			<span class="material-symbols-outlined">navigate_before</span>
		</button>
	</th:block>
	
	<!-- 숫자 버튼 -->
	  <div class="pager-number-box">
	  	<th:block th:with="start = ${selectCriteriaforDoubleValue.startPage}, last = ${selectCriteriaforDoubleValue.endPage}">
	  		<th:block th:each="p : ${#numbers.sequence(start,last)}">
	  			<th:block th:if="${ selectCriteriaforDoubleValue.pageNo eq p }">
			      <button class="page-number" th:text="${p}" disabled></button>
	  			</th:block>
	  			<th:block th:if="${ selectCriteriaforDoubleValue.pageNo ne p }">
			      <button class="page-number" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
	  			</th:block>
	  		</th:block>
         </th:block>
	  </div>
	
	<th:block th:if="${ selectCriteriaforDoubleValue.pageNo >= selectCriteriaforDoubleValue.maxPage }">
		<button disabled="disabled">
			<span class="material-symbols-outlined">navigate_next</span>
		</button>
	</th:block>

	<th:block th:if="${ selectCriteriaforDoubleValue.pageNo < selectCriteriaforDoubleValue.maxPage }">
		<button id="nextPage">
			<span class="material-symbols-outlined">navigate_next</span>
		</button>
	</th:block>
	
	
 	<button id="maxPage">
		<span class="material-symbols-outlined">keyboard_double_arrow_right</span>
	</button>
</div>

<script>
		const link = "/sell/list";
		let searchText = "";
		let searchConditionExist1 = "[[${ selectCriteriaforDoubleValue.searchCondition1 }]]";
		let searchValueExist1 = "[[${ selectCriteriaforDoubleValue.searchValue1 }]]";
		let searchConditionExist2 = "[[${ selectCriteriaforDoubleValue.searchCondition2 }]]";
		let searchValueExist2 = "[[${ selectCriteriaforDoubleValue.searchValue2 }]]";

		if(searchConditionExist1 || searchValueExist1 || searchConditionExist2 || searchValueExist2){
			searchText = "?searchValue1="+searchValueExist1+"&searchCondition1=name&searchValue2="+searchValueExist2+"&searchCondition2=representativeName&currentPage="
		}else{
			searchText = "?currentPage=";
		}
		
		/* 첫 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("startPage")) {
			const $startPage = document.getElementById("startPage");
			$startPage.onclick = function() {
				location.href = link + searchText + 1;
			}
		}

		/* 이전 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("prevPage")) {
			const $prevPage = document.getElementById("prevPage");
			$prevPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteriaforDoubleValue.pageNo - 1 }]]";
			}
		}

		/* 다음 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("nextPage")) {
			const $nextPage = document.getElementById("nextPage");
			$nextPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteriaforDoubleValue.pageNo + 1 }]]";
			}
		}

		/* 마지막 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("maxPage")) {
			const $maxPage = document.getElementById("maxPage");
			$maxPage.onclick = function() {
				location.href = link + searchText + "[[${ selectCriteriaforDoubleValue.maxPage }]]";
			}
		}

		
		/* 페이지 번호 버튼 click 이벤트 처리 */
		function pageButtonAction(text) {
			console.log(text)
			location.href = link + searchText + text ;
			
		}
	</script>

</body>
</html>




































