article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .draft-form-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .draft-form-info > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#content .draft-form-info .draft-form-title .input-wrapper {
    width: 100%;
}

#content .draft-form-info #attendeeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#content .draft-form-info #attendeeList span {
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

#content .draft-form-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}